<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_REQ_KEY</key>
	<string>$(API_REQ_KEY)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>WEBSOCKET_PROTOCOL</key>
	<string>$(WEBSOCKET_PROTOCOL)</string>
	<key>BASE_URL_PROTOCOL</key>
	<string>$(BASE_URL_PROTOCOL)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.ecosort.cloud-ai-prediction</string>
	</array>
	<key>MODEL_RELEASE_API_KEY</key>
	<string>$(MODEL_RELEASE_API_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
