<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_REQ_KEY</key>
	<string>$(API_REQ_KEY)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>BASE_URL_PROTOCOL</key>
	<string>$(BASE_URL_PROTOCOL)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>MODEL_RELEASE_API_KEY</key>
	<string>$(MODEL_RELEASE_API_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Item sorting drag and drop</string>
			<key>UTTypeIdentifier</key>
			<string>com.ecosort.item_drag_and_drop</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
